// @import '../node_modules/bootstrap/scss/bootstrap.scss';
// @import '../node_modules/tether/dist/css/tether.min.css';
// @fa-font-path:   "../font"; 

$font-stack1: 'Just Another Hand', cursive;
$font-stack2: 'Handlee', cursive;
$font-stack3: 'Caveat Brush', cursive;
$font-stack4: 'Archivo', sans-serif;


$primary-color: #f08f18;
$secondary-color: #06717d;
$tertiary-color: #e2820f;
$fourth-color: #509998;
$whiteish: #f0e6e1;

.fakelink {
	cursor: pointer;
}

.more-margin{
	margin-top: 4px;
}
.caveat-font {
	font-family: $font-stack3;
}

.archivo-font {
	font-family: $font-stack4;
}

.another-font {
	font-family: $font-stack1;
}

.buttons {
	z-index: 25;
}

.maintain-size{
	height:78vh;
}

.restaurant-photo-div {
	height: 283px;
	width: 100%;
}
.restaurant-photo {
	max-height: 270px;
	width: 100%;
	z-index: -20;
}

.review-pic {
	max-height: 30px;
	display: inline;
}
.more-btn {
	//width: 85%;
	margin-bottom:5px;
}

.thin-border {
	border: 1px solid black;
}

.full-width {
	width: 105%;
}

.separate {
	border: 1px solid $secondary-color;
	border-radius: 5px;
	margin-bottom: 5px;
}

ul {
	list-style: none;
}

.restDisp {
	text-align: left;
	margin-left: 30px;
	color: white;
	text-shadow:1px 1px 0 black,
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		0px 1px 0 black,
		1px 0px 0 black,
		0px -1px 0 black,
		-1px 0px 0 black 
}

.restaurantDisp {
	background-repeat: no-repeat;
	background-image: cover;
	height: 382px;
}

.frontScr {
	margin-left: 1em;
}

//.frontscreen {
// 	background-image: url('../lib/images/napkin-view-slant.jpg');
// 	background-repeat: no-repeat;
// 	background-image: cover;
// 	background-image: center;
// 	height: 274px;
// }

.login-button {
	margin-bottom: 20px;
	margin-top: 5px;
}

// .low-z{
// 	z-index: -20;
// }

.endscreen {
	background-image: url('../lib/images/tableview.jpg') no-repeat center center;
	//background-repeat: no-repeat;
	//background-image: cover;
	//background-image: center;
	//height: 355px;
}

.title{
	text-align: center;
		text-shadow:1px 1px 0 white,
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		0px 1px 0 white,
		1px 0px 0 white,
		0px -1px 0 white,
		-1px 0px 0 white 
}

.btn-orange {
	background-color: #f08f18;
}

.btn-teal {
	background-color: #06717d;
	color: $whiteish

}

.faves-options {
	margin: 3px 0;
}

.moreInfo {
}

.moreInfoPlz {
	margin: auto;
	background-color: #ffe;
}

.bold {
	font-weight: 700;
}
