<div ng-include="'templates/userNav.html'"></div>

<div>
	<h1>Saved Locations</h1>
	<p>You said you've been meaning to try these places... In the mood for any of them?</p>
	<div class="container">
		<ul>
			<li ng-repeat="item in savedListArray">
				<div class="separate row">
					<h4 class="col">{{item.name}}</h2>
					<div class="col">
						<button class="btn faves-options btn-orange btn-sm" ng-click="removeFromSaved(item.FBid)">Remove from Saved Locations</button>
						<button class="btn faves-options btn-teal btn-sm" ng-click="goToThere(item.place_id)">Ready to try it. Send me there.</button>
					</div>
					<p class="col">{{item.address}}</p>
					
				</div>
			</li>
		</ul>
	<a href='#!/user/suggest'><button class="btn btn-secondary btn-lg">Restart Suggestions</button></a>
	</div>
</div>
