<div ng-include="'templates/userNav.html'"></div>
<div>
		<h1>Blacklisted Items</h1>
		<p>These locations will never appear in your suggestions.</p>
	<div class="container">
		<ul>
			<li ng-repeat="item in blacklistArray">
				<div class="row separate">
					<h5 class="col">{{item.name}}</h5>
					<button type="button" class="col btn btn-orange btn-sm" ng-click="removeFromBlacklist(item.FBid)">Remove from Blacklist</button>
					<p class="col">{{item.address}}</p>
				</div>
			</li>
		</ul>
	</div>
	<a href='#!/user/suggest'><button class="btn btn-primary btn-lg">Restart Suggestions</button></a>
	
</div>