<div ng-include="'templates/userNav.html'"></div>
<div class="container">
	<div class="frontscreen text-center">
		<h1 class="title another-font">Where Should We Eat?</h1>
		
		<button type="button" class="login-button btn btn-orange btn-lg btn-block" ng-click="loginUser()">Log In</button>
		<div>
			<img class="low-z img-fluid" src="../lib/images/napkin-view-slant.jpg" alt="frontscreen view, napkin">
			<!-- use bg image and space it out a bit  -->
			<!-- <p class="frontScr">An app for the chronically indecisive.</p> -->
			<p class="frontScr another-font">Log in as a user to access saved preferences.</p>
			
		</div>
		<button type="button" class="btn btn-teal btn-lg btn-block" ng-click="guestUser()">Use as Guest</button>
	</div>
</div>