<div ng-include="'templates/userNav.html'"></div>
<div class="radiusScreen container">
  <p>Set and save a preferred radius for your eatery search! The radius is 'as the crow flies,' which means your mileage (in actual travel time and distance) may exceed your set radius.</p>
  <label for="userRadius">Enter your desired radius (in miles):</label>
  <input type="number" id="userRadius" name="radius" ng-model="milesRadius">
  <button class="btn btn-primary btn-sm" ng-click="changeRadius(milesRadius)">Submit and save as default</button>
  <button class="btn btn-primary btn-sm" ng-click="changeRadius(milesRadius)">Submit and search again</button>
</div>