<div ng-include="'templates/noUserNav.html'"></div>


<div ng-init="initSuggestionsArray()"></div>

		<div data-place-id={{currentSuggestion.id}}>
			<h1>{{currentSuggestion.name}}</h1>
			<p>Price level: {{currentSuggestion.price_level}}</p>
			<p>Avg. Rating: {{currentSuggestion.rating}}</p>
			<p>Address: {{currentSuggestion.vicinity}}</p>
			<img src="{{currentSuggestion.photoUrl}}">
			<button type="button" class="btn btn-warning btn-lg btn-block" ng-click="showNewSuggestion(); moreSuggestions(); rejectSuggestion()">Make a New Suggestion!</button>
			<button type="button" class="btn btn-outline-success btn-lg btn-block">I want to go to there</button>
		</div>